In [1]:
from pprint import pprint

from op_analytics.coreutils.partitioned.location import DataLocation
from op_analytics.coreutils.partitioned.reader import DataReader
from op_analytics.datapipeline.etl.ingestion.reader.byblock import construct_readers_byblock
from op_analytics.datapipeline.etl.ingestion.reader.request import BlockBatchRequest
from op_analytics.datapipeline.models.compute.markers import ModelsDataSpec
from op_analytics.datapipeline.models.compute.testutils import setup_execution_context

In [2]:
model_name = "token_transfers"


# Prepare data raeders
data_spec = ModelsDataSpec(models=[model_name])
blockbatch_request = BlockBatchRequest.build(
    chains=["op"],
    range_spec="@20241118:+1",
    root_paths_to_read=data_spec.input_root_paths,
)
readers: list[DataReader] = construct_readers_byblock(
    blockbatch_request=blockbatch_request,
    read_from=DataLocation.GCS,
)


# Show details for the batch we are processing.
pprint(readers[0])

# Set up execution context and get handles to model input args.
# In subsequent cells you can use the model input args however you want.
ctx, input_datasets, aux_views = setup_execution_context(
    model_name=model_name,
    data_reader=readers[0],  # use the first reader
)

2025-01-15 22:12:19 [debug    ] connecting to GOLDSKY Clickhouse client... counter=001/001 eta=None filename=client.py lineno=36 process=62746
2025-01-15 22:12:19 [info     ] loaded vault from .env file    counter=001/001 eta=None filename=vault.py lineno=32 process=62746
2025-01-15 22:12:19 [debug    ] loaded vault: 18 items         counter=001/001 eta=None filename=vault.py lineno=79 process=62746
2025-01-15 22:12:20 [debug    ] initialized GOLDSKY Clickhouse client. counter=001/001 eta=None filename=client.py lineno=41 process=62746
2025-01-15 22:12:20 [debug    ] connecting to OPLABS Clickhouse client... filename=client.py lineno=36 process=62746
2025-01-15 22:12:20 [debug    ] initialized OPLABS Clickhouse client. filename=client.py lineno=41 process=62746
2025-01-15 22:12:20 [info     ] prepared 22 input batches.     filename=byblock.py lineno=78 process=62746
DataReader(partitions=Partition(cols=[PartitionColumn(name='chain', value='op'),
                                      PartitionColumn(name='dt',
                                                      value='2024-11-18')]),
           read_from=DataLocation.GCS,
           dataset_paths={'ingestion/logs_v1': ['gs://oplabs-tools-data-sink/ingestion/logs_v1/chain=op/dt=2024-11-18/000128144000.parquet']},
           inputs_ready=True,
           extra_marker_data={'max_block': 128146000,
                              'min_block': 128144000,
                              'num_blocks': 2000})
2025-01-15 22:12:20 [info     ] initialized duckdb at /var/folders/80/jqw6kmgj7j34j0x4mcs6hcl00000gn/T/95luyqbh/op-analytics.duck.db filename=client.py lineno=94 process=62746
2025-01-15 22:12:20 [info     ] reading dataset='ingestion/logs_v1' using 1/1 parquet paths, first path is gs://oplabs-tools-data-sink/ingestion/logs_v1/chain=op/dt=2024-11-18/000128144000.parquet filename=reader.py lineno=68 process=62746

INPUT: ingestion/logs_v1

AUX VIEW: token_transfers

In [3]:
logs_view = input_datasets["ingestion/logs_v1"].create_view()

all_transfers = aux_views["token_transfers"].to_relation(
    duckdb_context=ctx,
    template_parameters={
        "raw_logs": logs_view,
    },
)

2025-01-15 22:12:20 [info     ] constructed read_parquet() string with 1 paths filename=client.py lineno=245 process=62746
2025-01-15 22:12:20 [info     ] created table/view ingestion_logs_v1_view filename=client.py lineno=189 process=62746
2025-01-15 22:12:20 [info     ] duck db size: 12.3KB           filename=client.py lineno=36 process=62746
2025-01-15 22:12:20 [info     ] Rendering query                filename=querybuilder.py lineno=40 process=62746 template=token_transfers

In [4]:
df = ctx.client.sql(f"SELECT * FROM {logs_view} as l where l.topic0 LIKE '0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef%' LIMIT 10").df()
df.head()

,network,chain_id,block_timestamp,block_number,block_hash,transaction_hash,transaction_index,log_index,address,topics,data,topic0,indexed_args,chain,dt
0,mainnet,10,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x6ba43fabde9f03dded7c56677751114907201a9e4462...,1,0,0xdc6ff44d5d932cbd77b52e5612ba0529dc6226f1,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,[0x000000000000000000000000f89d7b9c864f589bbf5...,op,2024-11-18
1,mainnet,10,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x026e632a5d3a57e54c0f786ae4249b318dcc9ff728f5...,4,1,0x4200000000000000000000000000000000000042,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,[0x0000000000000000000000004dc22588ade05c40338...,op,2024-11-18
2,mainnet,10,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x0f3da35693644abe74388ab718881855a50e147201bb...,6,10,0x4200000000000000000000000000000000000006,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,[0x00000000000000000000000088391365c2259730322...,op,2024-11-18
3,mainnet,10,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x0f3da35693644abe74388ab718881855a50e147201bb...,6,14,0x4200000000000000000000000000000000000042,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,[0x000000000000000000000000442659a6d04b907c879...,op,2024-11-18
4,mainnet,10,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x026e632a5d3a57e54c0f786ae4249b318dcc9ff728f5...,4,2,0x4200000000000000000000000000000000000006,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,[0x000000000000000000000000802b65b5d9016621e66...,op,2024-11-18

In [5]:
erc20_transfers = (
    all_transfers
    .filter("token_id IS NULL")
    .project("* EXCLUDE token_id")
)

df = ctx.client.sql(f"SELECT * FROM erc20_transfers").df()
df.head()

,chain_id,chain,dt,block_timestamp,block_number,block_hash,transaction_hash,transaction_index,log_index,contract_address,amount,amount_lossless,from_address,to_address
0,10,op,2024-11-18,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x6ba43fabde9f03dded7c56677751114907201a9e4462...,1,0,0xdc6ff44d5d932cbd77b52e5612ba0529dc6226f1,8.000000e+17,800000000000000000,0xf89d7b9c864f589bbf53a82105107622b35eaa40,0x73981e74c1b3d94cbe97e2cd03691dd2e7c533fa
1,10,op,2024-11-18,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x026e632a5d3a57e54c0f786ae4249b318dcc9ff728f5...,4,1,0x4200000000000000000000000000000000000042,NaN,238897558498147901946,0x4dc22588ade05c40338a9d95a6da9dcee68bcd60,0x802b65b5d9016621e66003aed0b16615093f328b
2,10,op,2024-11-18,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x0f3da35693644abe74388ab718881855a50e147201bb...,6,10,0x4200000000000000000000000000000000000006,1.133052e+13,11330523516624,0x88391365c225973032275db256b9d15f845d2c72,0x07169e885228d41d986a5b66130ac6e3d8f44324
3,10,op,2024-11-18,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x0f3da35693644abe74388ab718881855a50e147201bb...,6,14,0x4200000000000000000000000000000000000042,6.755863e+18,6755862736030762399,0x442659a6d04b907c879032da1ef634548110dd37,0xfc1f3296458f9b2a27a0b91dd7681c4020e09d05
4,10,op,2024-11-18,1731890755,128145989,0x98f6d6cfb9de5b5ccf9c3d9849bc04ab9a2c4725b657...,0x026e632a5d3a57e54c0f786ae4249b318dcc9ff728f5...,4,2,0x4200000000000000000000000000000000000006,1.337134e+17,133713384334713000,0x802b65b5d9016621e66003aed0b16615093f328b,0x4dc22588ade05c40338a9d95a6da9dcee68bcd60

In [12]:
erc721_transfers = (
    all_transfers
    .filter("token_id IS NOT NULL")
    .project("* EXCLUDE (amount, amount_lossless)")
)
df = ctx.client.sql(f"SELECT * FROM erc721_transfers").df()
df.head()

,chain_id,chain,dt,block_timestamp,block_number,block_hash,transaction_hash,transaction_index,log_index,contract_address,from_address,to_address,token_id
0,10,op,2024-11-18,1731890757,128145990,0x1dbc3f2bc6e28592c242c2da70c30d75cda987cee20f...,0x8c8097be6a11606a35153d59a846dd0563f461c67a2a...,8,38,0x416b433906b1b72fa758e166e239c43d68dc6f29,0x04f0d809f769772138736a1c79daf6b0a7692bb6,0xca573537505cce0d03963002e870d74d2cfe8cff,554014
1,10,op,2024-11-18,1731890759,128145991,0xc88a780a0e73dda749ad445dc0a79ea40004b8863bbe...,0x0d3b8862452f1c602e247818e4b0b17ee71da7fb67ef...,32,115,0x1195cf65f83b3a5768f3c496d3a05ad6412c64b7,0x0000000000000000000000000000000000000000,0xb7659fb7387584a337163a515e95022c1ab40553,3808461
2,10,op,2024-11-18,1731890767,128145995,0x4fdd2eb67cf6a125a756fc73d699bc50bcf67cb5b519...,0xcfa408dd1654af2fbbffdec4a3411a857118ca58d567...,11,61,0x1195cf65f83b3a5768f3c496d3a05ad6412c64b7,0x0000000000000000000000000000000000000000,0x9be0b20a1eb1065b49f0a908fbb705bbc25f2aa4,3808462
3,10,op,2024-11-18,1731890771,128145997,0x4b93310e7e2306a99be902e4f5d2482c9e558a9f315f...,0x5b7fa54141974a14be23a1fb12f301c7439439145230...,24,53,0x1195cf65f83b3a5768f3c496d3a05ad6412c64b7,0x0000000000000000000000000000000000000000,0xc3cdb79d301c097640657274f00c8adcb8016a84,3808463
4,10,op,2024-11-18,1731890773,128145998,0x6b6d0b337b0c783371bf8d2af01f3d126386c82f5639...,0x820b6e0b0939c0954deb3dee3291c7aafa76204af6e4...,9,19,0x1195cf65f83b3a5768f3c496d3a05ad6412c64b7,0x0000000000000000000000000000000000000000,0x8f37fdd3037b29195975d9e2f7bbb36ca51887dc,3808464