### Initial Setup
Make sure you have the following packages installed:
- pandas
- urllib3
- requests

In [1]:
import pandas as pd
import os

# import our functions
import api_defillama as dfl 
import api_growthe as gtp 
import api_l2beat as l2b

### Run Growthepie
[Growthepie](https://www.growthepie.xyz/) provides detailed onchain data (i.e. transactions, revenue, costs, profit) for a set of L2s.

See [API Docs](https://docs.growthepie.xyz/api)

In [2]:
print('getting growthepie metadata')
gtp_md = gtp.get_growthepie_metadata()

print('getting growthepie fundamentals data')
gtp_fun = gtp.get_growthepie_fundamentals()

print('yay')

getting growthepie metadata
https://api.growthepie.xyz/v1/master.json
getting growthepie fundamentals data
https://api.growthepie.xyz/v1/fundamentals_full.json
yay

In [3]:
num_chains = len(gtp_md[gtp_md['chain_name']!= '-'])
print(f"Growthepie: Total Amount of Chains: {num_chains}")

Growthepie: Total Amount of Chains: 24

In [4]:
gtp_md.head(5)

,name,url_key,chain_type,caip2,evm_chain_id,deployment,chain_name,description,da_layer,symbol,...,l2beat_id,raas,stack,website,twitter,block_explorer,block_explorers,rhino_listed,rhino_naming,origin_key
0,Ethereum,ethereum,L1,eip155-1,1.0,PROD,Ethereum,"Ethereum, proposed by Vitalik Buterin in 2013 ...",None,ETH,...,ethereum,Self-hosted,"{'label': 'Custom', 'url': None}",https://ethereum.org/,https://twitter.com/ethereum,https://etherscan.io/,"{'Etherscan': 'https://etherscan.io/', 'Blocks...",True,ETHEREUM,ethereum
1,All L2s,all-l2s,-,None,NaN,PROD,-,None,None,None,...,None,None,None,None,None,None,None,False,None,all_l2s
2,Arbitrum One,arbitrum,L2,eip155-42161,42161.0,PROD,Arbitrum,Arbitrum One is developed by Offchain Labs. It...,Ethereum (blobs),ARB,...,arbitrum,Self-hosted,"{'label': 'Arbitrum Nitro', 'url': 'https://ar...",https://arbitrum.io/,https://twitter.com/arbitrum,https://arbiscan.io/,"{'Arbiscan': 'https://arbiscan.io/', 'Blocksco...",True,ARBITRUM,arbitrum
3,Base,base,L2,eip155-8453,8453.0,PROD,Base,"Base is an Ethereum Layer 2 offering a secure,...",Ethereum (blobs),None,...,base,Self-hosted,"{'label': 'OP Stack, Superchain', 'url': 'http...",https://base.org/,https://twitter.com/base,https://basescan.org/,"{'BaseScan': 'https://basescan.org/', 'Blocksc...",True,BASE,base
4,Blast,blast,L2,eip155-81457,81457.0,PROD,Blast,Blast is an EVM-compatible Optimistic Rollup w...,Ethereum (blobs),BLAST,...,blast,Self-hosted,"{'label': 'OP Stack', 'url': 'https://docs.opt...",https://blast.io/en,https://twitter.com/Blast_L2,https://blastscan.io/,{'Blast Explorer': 'https://blastscan.io/'},True,BLAST,blast

In [5]:
gtp_fun[gtp_fun['date']>='2024-10-01'].sample(5)

metric_key,index,origin_key,date,costs_blobs_eth,costs_blobs_usd,costs_l1_eth,costs_l1_usd,costs_total_eth,costs_total_usd,daa,...,profit_usd,rent_paid_eth,rent_paid_usd,stables_mcap,stables_mcap_eth,tvl,tvl_eth,txcosts_median_eth,txcosts_median_usd,txcount
10989,14100,redstone,2024-10-16,NaN,NaN,0.013563,35.292404,0.013563,35.292404,357.0,...,NaN,0.013563,35.292404,2.276671e+04,8.749442,1.805293e+06,693.789324,0.000001,0.003412,5224.0
10769,13825,polygon_zkevm,2024-10-11,NaN,NaN,3.046638,7256.427106,3.046638,7256.427106,2818.0,...,-6227.687390,3.046638,7256.427106,1.664531e+07,6988.597079,6.512492e+07,27342.942705,0.000021,0.049722,10190.0
12407,16164,scroll,2024-10-04,4.888986e-11,1.147936e-07,0.811011,1904.256772,0.811011,1904.256772,62080.0,...,9949.687460,0.811011,1904.256772,1.057873e+08,45054.102757,1.146505e+09,488288.861177,0.000011,0.025916,270471.0
5996,8493,loopring,2024-10-14,NaN,NaN,0.214344,528.757680,0.214344,528.757680,173.0,...,NaN,0.214344,528.757680,4.241899e+06,1719.553675,4.410503e+07,17879.011280,NaN,NaN,1243.0
12427,16184,scroll,2024-10-24,1.180959e-10,2.980862e-07,1.481977,3740.663071,1.481977,3740.663072,135519.0,...,12100.555599,1.481977,3740.663072,1.153496e+08,45699.239854,1.388554e+09,550117.713686,0.000009,0.023389,406335.0

### Run L2Beat
[L2Beat](https://l2beat.com/) provides high-level metrics (transactions, assets onchain) and security evaluations for a wide set of L2s and L3s.

In [6]:
print('getting l2beat summary data')
l2b_summary = l2b.get_l2beat_summary()
print('getting l2beat activity data')
l2b_activity = l2b.get_all_projects_data(l2b_summary, 'activity')
print('getting l2beat assets onchain data')
l2b_assets = l2b.get_all_projects_data(l2b_summary, 'tvl')
print('yay')

getting l2beat summary data
https://l2beat.com/api/scaling/summary
getting l2beat activity data
activity API, Chains to run: 113
25 / 113 completed
50 / 113 completed
75 / 113 completed
100 / 113 completed
All projects completed
getting l2beat assets onchain data
tvl API, Chains to run: 113
25 / 113 completed
50 / 113 completed
75 / 113 completed
100 / 113 completed
All projects completed
yay

In [7]:
num_chains = len(l2b_summary[(l2b_summary['isArchived']==False) &(l2b_summary['isUpcoming']==False)])
print(f"L2Beat: Total Amount of Chains: {num_chains}")
l2b_summary.sample(5)

L2Beat: Total Amount of Chains: 113

,id,name,slug,type,category,provider,purposes,isArchived,isUpcoming,isUnderReview,badges,tvl,stage,risks,shortName,hostChain
6,linea,Linea,linea,layer2,ZK Rollup,NaN,[Universal],False,False,False,"[{'category': 'VM', 'name': 'EVM'}, {'category...","{'breakdown': {'total': 789944107.97, 'ether':...",Stage 0,"[{'name': 'Sequencer Failure', 'value': 'No me...",NaN,NaN
63,termstructure,Term Structure,termstructure,layer2,ZK Rollup,ZKsync Lite,"[Payments, Exchange, Lending]",False,False,False,"[{'category': 'VM', 'name': 'AppChain'}, {'cat...","{'breakdown': {'total': 1067846.23, 'ether': 1...",Stage 0,"[{'name': 'Sequencer Failure', 'value': 'Force...",NaN,NaN
87,oevnetwork,OEV Network,oev,layer2,Optimium,Arbitrum,"[Universal, Oracles]",False,False,False,"[{'category': 'RaaS', 'name': 'Caldera'}, {'ca...","{'breakdown': {'total': 44408.26, 'ether': 444...",NotApplicable,"[{'name': 'Sequencer Failure', 'value': 'Self ...",NaN,NaN
9,mantapacific,Manta Pacific,mantapacific,layer2,Optimium,OP Stack,[Universal],False,False,False,"[{'category': 'DA', 'name': 'Celestia'}, {'cat...","{'breakdown': {'total': 456723810.29, 'ether':...",NotApplicable,"[{'name': 'Sequencer Failure', 'value': 'Self ...",NaN,NaN
77,cheese,CheeseChain,cheese,layer3,Optimium,Arbitrum,[Universal],False,False,True,"[{'category': 'L3ParentChain', 'name': 'Arbitr...","{'breakdown': {'total': 136263.78, 'ether': 0,...",NotApplicable,"[{'name': 'Sequencer Failure', 'value': 'Under...",NaN,Arbitrum One

In [8]:
l2b_activity[l2b_activity['timestamp']>='2024-10-01'].sample(5)

       timestamp  transactions_per_day        slug
17578 2024-10-06                  6806         dbk
21243 2024-10-10                     0      xterio
18928 2024-10-31                     2  superlumio
2775  2024-10-02                144178  zksync-era
14762 2024-10-26                  1767       shape

In [9]:
l2b_assets[l2b_assets['timestamp']>='2024-10-01'].sample(5)

       timestamp  native    canonical     external   ethPrice        slug
5959  2024-10-11     0.0  91766264.45   2494275.73  2383.5962         bob
19352 2024-10-25     0.0    686940.45         0.00  2536.0872         dbk
6900  2024-10-29     0.0  79286570.09         0.00  2567.0889        apex
7141  2024-10-19     0.0  65755181.00  18062674.27  2638.7840  zklinknova
14591 2024-10-18     0.0  12824419.86         0.00  2605.2820     silicon

### Run Defillama
[Defillama](https://defillama.com/) specializes in TVL (total value locked) data, and also provides high-level metrics for a nearly exhaustive list of chains and applications across ecosystems.

See [API Docs](https://defillama.com/docs/api)

In [10]:
print('getting defillama chain list')
dfl_chains = dfl.get_chain_list()
print('getting defillama chain tvls')
dfl_tvl = dfl.get_all_chains_historical_tvl(dfl_chains)
print('yay')

getting defillama chain list
getting defillama chain tvls
Defillama API, Chains to run: 313
25 / 313 completed
50 / 313 completed
75 / 313 completed
100 / 313 completed
125 / 313 completed
150 / 313 completed
175 / 313 completed
200 / 313 completed
225 / 313 completed
250 / 313 completed
275 / 313 completed
300 / 313 completed
yay

In [11]:
num_chains = len(dfl_chains)
print(f"Defillama: Total Amount of Chains: {num_chains}")
dfl_chains.sample(5)

Defillama: Total Amount of Chains: 313

           name chainId
170   SXnetwork    None
134  GodwokenV1   71402
83    CosmosHub    None
135    Godwoken   71394
238     EOS EVM    None

In [12]:
dfl_tvl[dfl_tvl['date']>'2024-10-01'].sample(5)

             date           tvl             name chain_id
185780 2024-10-23  7.582152e+04           Comdex     None
194605 2024-10-19  2.047828e+06       Polynomial     None
58712  2024-10-19  1.426037e+08            Ronin     2020
66989  2024-10-06  1.804428e+07  Bifrost Network     None
61457  2024-10-26  1.926327e+07            Astar      592

### Export Data
For this demo, we'll export to local csv files.

In practice, you could also push files to a database

In [13]:
folder_name = 'downloads'

# Check if the folder exists
if not os.path.exists(folder_name):
    # If it doesn't exist, create it
    os.makedirs(folder_name)
    print(f"Folder '{folder_name}' created successfully.")
else:
    print(f"Folder '{folder_name}' already exists.")

Folder 'downloads' already exists.

In [14]:
# Temporary function to store our exporting format more cleanly
def write_df_to_csv(df, file_name):
    df.to_csv(f'{folder_name}/{file_name}.csv', index=False)

#Export Files
print('export growthepie')
write_df_to_csv(gtp_md,'growthepie_metadata')
write_df_to_csv(gtp_fun,'growthepie_fundamentals')

print('export l2beat')
write_df_to_csv(l2b_summary,'l2beat_summary')
write_df_to_csv(l2b_activity,'l2beat_activity')
write_df_to_csv(l2b_assets,'l2beat_assets_onchain')

print('export defillama')
write_df_to_csv(dfl_chains,'defillama_chains')
write_df_to_csv(dfl_tvl,'defillama_tvl')

print('yay')

export growthepie
export l2beat
export defillama
yay